.responsive-layout {
  grid-template-columns: 300px auto;
}

@media (max-width: 768px) {
  .responsive-sidebar {
    --width: 300px;

    z-index: 99;
    position: fixed;
    left: -305px;

    width: 300px;
    max-width: 99%;
    transition: left 0.3s;
  }

  .responsive-sidebar.active {
    left: 0;
    z-index: 9998;
  }

  .responsive-layout {
    grid-template-columns: 100%;
  }

  .sidebar-clickable.active {
    display: block;
    z-index: 1;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

[data-editor-preview] {
  width: 100vw;
}

@media (min-width: 768px) {
  [data-editor-preview] {
    width: calc(100vw - 300px);
  }
}
