*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #18191a;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #18191a;
}

::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 0.5rem;
}

a {
  color: #f2f2f2;
}
