*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1d1e2c;
  color: #232436;
  min-height: 100vh;
}

button:focus,
input:focus,
select:focus,
a:focus {
  outline: 2px dotted #4ecec4;
}

a {
  color: #4ecec4;
}
